@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a {
  color: #fff;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/********************************************************************/
body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.content_container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}

/********************************************************************/
.header {
  min-height: 100vh;
  padding: 40px 30px 40px;
  background-image: url(../img/bg_photo.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_top_title {
  font-family: 'Raleway', sans-serif;
  margin-left: 2px;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #ffffff;
}

.header_top_nav_link {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
  margin-right: 30px;
}

.header_top_nav_link:last-child {
  margin-right: 0;
}

.header_top_nav_link:hover {
  text-decoration: underline;
}

.header_top_cs_cart {
  margin-right: 30px;
}

.header_slider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_slider_arrow {
  width: 40px;
  height: 75px;
  background-color: transparent;
  background-image: url(../img/icons/arrow.svg);
  opacity: .5;
}

.header_slider_arrow:hover {
  -webkit-transition: .8s;
  transition: .8s;
  opacity: 1;
}

.header_slider_slogan {
  max-width: 600px;
  font-family: Raleway;
  line-height: 1.2;
  color: #ffffff;
  text-align: center;
}

.header_slider_slogan_title {
  font-family: Raleway;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 15px;
}

.header_slider_slogan_header {
  font-size: 52px;
  font-weight: 800;
  margin-bottom: 20px;
}

.header_slider_slogan_text {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 50px;
}

.header_slider_slogan_button {
  width: 170px;
  height: 53px;
  background-color: #998675;
  border-radius: 3px;
  font-family: Raleway;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
}

.header_slider_slogan_button:hover {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  border: 1px solid #fff;
}

.header_slider_slogan_button:active {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background-color: #fff;
}

.header_slides_slide {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  opacity: .5;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
}

.header_slides_slide:last-child {
  margin-right: 0;
}

.header_slides_slide:hover {
  -webkit-transition: .7s;
  transition: .7s;
  opacity: 1;
}

.arrow-right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.link_active {
  color: #c7b299;
}

.slide_active {
  background-color: transparent;
}
/*# sourceMappingURL=style.css.map */