@charset "UTF-8";
/*Обнуление*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, button {
  outline: none;
  border: 0;
}

/********************************************************************/
input[type=radio] {
  display: none;
}

label {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

/********************************************************************/
@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Light.eot");
  src: local("☺"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype"), url("../fonts/Montserrat-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-VariableFont_wght.eot");
  src: local("☺"), url("../fonts/Raleway-VariableFont_wght.woff") format("woff"), url("../fonts/Raleway-VariableFont_wght.ttf") format("truetype"), url("../fonts/Raleway-VariableFont_wght.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/********************************************************************/
body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.content_container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/********************************************************************/
.header {
  min-height: 1024px;
  padding: 40px 30px 40px;
  background-image: url(../img/bg_photo.jpg);
  background-color: rgba(17, 17, 17, 0.7);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.header_head_logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0px;
          flex: 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.header_head_logo_title {
  font-family: 'Raleway', sans-serif;
  margin-left: 2px;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #ffffff;
}

.header_head_nav {
  -webkit-box-flex: 1;
      -ms-flex: auto 1 auto;
          flex: auto 1 auto;
}

.header_head_nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_head_nav_list_item {
  margin-right: 30px;
}

.header_head_nav_list_item_link {
  font-family: 'Montserrat',sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
}

.header_head_nav_list_item_link:hover, .header_head_nav_list_item_link:focus {
  color: #c7b299;
}

.header_head_nav_list_item .header_nav_selected {
  color: #c7b299;
}

.header_head_nav_list_item_link:active {
  opacity: 0.7;
}

.header_head_nav_list_item:last-child {
  margin-right: 0;
}

.header_head_cs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  margin-left: 30px;
}

.header_head_cs_searche, .header_head_cs_cart {
  width: 25px;
  height: 25px;
  background-color: transparent;
  color: #fff;
}

.header_head_cs_searche {
  background-image: url("../img/icons/search.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.header_head_cs_searche:hover, .header_head_cs_cart:hover, .header_head_cs_cart:focus, .header_head_cs_searche:focus {
  border: 1px solid #c7b299;
}

.header_head_cs_searche:active, .header_head_cs_cart:active {
  border: 1px solid #fff;
}

.header_head_cs_searche:focus {
  width: 200px;
  -webkit-transition: width 0.8s ease-out;
  transition: width 0.8s ease-out;
  background-position: right;
}

.header_head_cs_cart {
  margin-right: 30px;
  background-image: url("../img/icons/cart.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.header_slider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.header_slider_arrow {
  width: 40px;
  height: 75px;
  background-color: transparent;
  background-image: url(../img/icons/arrow.svg);
}

.header_slider_arrow:hover, .header_slider_arrow:focus {
  border: 1px solid #c7b299;
}

.header_slider_arrow:active {
  opacity: 0.7;
}

.header_slider .arrow-right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header_slider_slogan {
  max-width: 600px;
  font-family: "Raleway",sans-serif;
  line-height: 1.2;
  color: #ffffff;
  text-align: center;
}

.header_slider_slogan_title {
  font-family: "Raleway",sans-serif;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 15px;
}

.header_slider_slogan_header {
  font-size: 52px;
  font-weight: 800;
  margin-bottom: 20px;
}

.header_slider_slogan_text {
  font-family: "Montserrat",sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 50px;
}

.header_slider_slogan_button {
  width: 170px;
  height: 53px;
  background-color: #998675;
  border-radius: 3px;
  font-family: "Raleway",sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
}

.header_slider_slogan_button:hover, .header_slider_slogan_button:focus {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  border: 1px solid #fff;
}

.header_slider_slogan_button:active {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background-color: #fff;
}

.header_slides_slide_label::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  opacity: .6;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 100%;
}

.header_slides_slide_label:last-child::before {
  margin-right: 0;
}

.header_slides_slide_label:hover::before {
  -webkit-transition: .7s;
  transition: .7s;
  opacity: 1;
}

.header_slides_slide:checked + .header_slides_slide_label::before {
  background-color: #fff;
}

/********************************************************************/
.services {
  padding: 80px 30px 0;
}

.services_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}

.services_list_item {
  max-width: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #555555;
}

.services_list_item_ico {
  color: inherit;
  margin-bottom: 30px;
  fill: inherit;
}

.services_list_item_title {
  font-family: "Raleway",sans-serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  color: inherit;
  margin-bottom: 20px;
}

.services_list_item_text {
  font-family: "Montserrat",sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #8c8c8c;
  margin-bottom: 30px;
}

.services_list_item::after {
  content: "";
  width: 70px;
  border-bottom: 3px solid;
  border-color: inherit;
}

.services_list_item:hover {
  color: #c7b299;
  fill: #c7b299;
}

.services_content {
  padding-top: 80px;
  background-color: #fbfaf8;
  text-align: center;
}

.services_content_title {
  font-family: "Raleway",sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  margin-bottom: 25px;
}

.services_content_text {
  font-family: "Montserrat",sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  max-width: 760px;
  margin: 0 auto 40px;
}

.services_content_screenlist {
  min-height: 480px;
  max-width: 1230px;
  margin: 0 auto;
  position: relative;
}

.services_content_screenlist_item {
  position: absolute;
  z-index: 1;
}

.services_content_screenlist_item:first-child, .services_content_screenlist_item:last-child {
  z-index: 0;
  top: 80px;
}

.services_content_screenlist_item:first-child {
  left: 0;
}

.services_content_screenlist_item:last-child {
  right: 0;
}

.services_content_screenlist_item:nth-child(2) {
  left: 20%;
}

/********************************************************************/
.purchase {
  min-height: 150px;
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  padding-top: 50px;
}

.purchase_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.purchase_title {
  font-family: "Raleway",sans-serif;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 8px;
}

.purchase_title_waxom {
  color: #c7b299;
}

.purchase_text {
  font-family: "Montserrat",sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #615855;
}

.purchase_btn {
  width: 170px;
  height: 50px;
  background-color: #998675;
  border-radius: 3px;
  font-family: "Raleway",sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.purchase_btn:hover, .purchase_btn:focus {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  border: 1px solid #fff;
}

.purchase_btn:active {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background-color: #fff;
}

/********************************************************************/
.projects {
  text-align: center;
  padding: 80px 0;
}

.projects_title {
  font-family: "Raleway",sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  margin-bottom: 25px;
}

.projects_text {
  max-width: 760px;
  font-family: "Montserrat",sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  margin: 0 auto 40px;
}

.projects_btn_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat",sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #8c8c8c;
  margin: 0 auto 50px;
}

.projects_btn_list_item {
  margin-right: 10px;
}

.projects_btn_list_item_button {
  width: 120px;
  height: 32px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}

.projects_btn_list_item_button:focus, .projects_btn_list_item_button:hover {
  background-color: #998675;
  color: #ffffff;
}

.projects_btn_list_item .projects_button-selected {
  background-color: #998675;
  color: #ffffff;
}

.projects_btn_list_item_button:active {
  border-color: #000;
}

.projects_btn_list_item:last-child {
  margin-right: 0;
}

.projects_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.projects_list_item {
  max-width: 370px;
  position: relative;
  background-color: #fbfaf8;
  margin-bottom: 30px;
}

.projects_list_item_wrapper {
  position: relative;
  background-color: inherit;
  padding: 30px;
}

.projects_list_item_wrapper::before {
  content: "";
  border: 15px solid transparent;
  border-bottom: 15px solid #fbfaf8;
  position: absolute;
  top: -30px;
  left: 10px;
}

.projects_list_item_img {
  width: 100%;
  background-color: #8c8c8c;
}

.projects_list_item_title {
  font-family: "Raleway",sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #c7b299;
  margin-bottom: 15px;
}

.projects_list_item_text {
  font-family: 'Montserrat',sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #d1d1d1;
}

.projects_list_item_button-link, .projects_list_item_button-view {
  width: 25px;
  height: 25px;
  display: none;
  background-color: transparent;
  position: absolute;
  top: 110px;
  color: white;
}

.projects_list_item_button-link_ico, .projects_list_item_button-view_ico {
  fill: #fff;
}

.projects_list_item_button-link {
  left: 150px;
}

.projects_list_item_button-view {
  right: 150px;
}

.projects_list_item:hover {
  background-color: #362f2d;
}

.projects_list_item:hover .projects_list_item_wrapper:before {
  border-bottom: 15px solid #362f2d;
}

.projects_list_item:hover .projects_list_item_img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.projects_list_item:hover .projects_list_item_button-link,
.projects_list_item:hover .projects_list_item_button-view {
  display: block;
}

.projects_list_item:hover .projects_list_item_button-link:hover > svg,
.projects_list_item:hover .projects_list_item_button-view:hover > svg {
  fill: #362f2d;
}

.projects_button_more {
  width: 170px;
  height: 50px;
  background-color: #998675;
  border-radius: 3px;
  font-family: "Raleway",sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
}

.projects_button_more:hover, .projects_button_more:focus {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #000;
}

.projects_button_more:active {
  border: solid red;
}

/********************************************************************/
.presentation {
  position: relative;
}

.presentation_wrapper {
  padding: 210px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(17, 17, 17, 0.5);
  text-align: center;
  color: #ffffff;
}

.presentation_wrapper_button {
  z-index: 1;
  width: 100px;
  height: 100px;
  background-color: transparent;
  margin-bottom: 45px;
  border-radius: 50%;
  opacity: 0.8;
}

.presentation_wrapper_button_icon {
  fill: #fff;
}

.presentation_wrapper_button:hover, .presentation_wrapper_button:focus {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

.presentation_wrapper_button:active {
  opacity: 1;
  border: solid white;
}

.presentation_wrapper_title {
  z-index: 1;
  font-family: "Raleway",sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 30px;
}

.presentation_wrapper_text {
  z-index: 1;
  font-family: "Montserrat",sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  margin-bottom: 40px;
  max-width: 555px;
}

.presentation_wrapper_time {
  z-index: 1;
  font-family: "Montserrat",sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #c7b299;
}

.presentation_video {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/********************************************************************/
.mobile_devices {
  padding-top: 80px;
  background-color: #fbfaf8;
}

.mobile_devices_container {
  min-height: 695px;
  background-image: url("../img/bg_mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 115px;
}

.mobile_devices_title {
  font-family: 'Raleway',sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  margin-bottom: 40px;
}

.mobile_devices_text {
  font-family: 'Montserrat',sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  margin-bottom: 45px;
  max-width: 660px;
}

.mobile_devices_list {
  font-family: 'Montserrat',sans-serif;
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
  color: #8c8c8c;
}

.mobile_devices_list_item::before {
  content: '>';
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
  background-color: #c7b299;
  margin-right: 30px;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
}

/********************************************************************/
.counters {
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  padding: 70px 0 60px;
}

.counters_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.counters_list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.counters_list_item_img {
  margin-bottom: 30px;
}

.counters_list_item_title {
  font-family: 'Montserrat',sans-serif;
  font-size: 48px;
  line-height: 36px;
  font-weight: 200;
  color: #ffffff;
  margin-bottom: 20px;
}

.counters_list_item_text {
  font-family: 'Montserrat',sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #c7b299;
  margin-bottom: 30px;
}

.counters_list_item::after {
  content: '';
  width: 30px;
  display: inline-block;
  border-bottom: 2px solid #fff;
}

/********************************************************************/
.posts {
  background-color: #fff;
  padding: 80px 0;
}

.posts_title {
  font-family: 'Raleway',sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  text-align: center;
  margin-bottom: 30px;
}

.posts_text {
  font-family: 'Montserrat',sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  width: 760px;
  margin: 0 auto 40px;
}

.posts_list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.posts_list_item {
  position: relative;
  width: 370px;
  border: 1px solid #f8f8f8;
  margin-bottom: 40px;
}

.posts_list_item_img {
  margin-bottom: 30px;
}

.posts_list_item_title {
  font-family: 'Raleway',sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #555555;
  margin: 0 30px 20px;
}

.posts_list_item_text {
  font-family: 'Montserrat',sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #8c8c8c;
  width: 300px;
  margin: 0 30px 30px;
}

.posts_list_item_button {
  font-family: 'Montserrat',sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #c7b299;
  margin: 0 0 35px 30px;
  background-color: transparent;
  opacity: .7;
}

.posts_list_item_button:hover, .posts_list_item_button:focus {
  opacity: 1;
}

.posts_list_item_button:focus {
  border: 1px solid #fff;
}

.posts_list_item_button::after {
  content: '';
  display: inline-block;
  margin-left: 10px;
  width: 5px;
  height: 10px;
  background-image: url("../img/icons/posts_arrow.svg");
}

.posts_list_item_date {
  width: 50px;
  position: absolute;
  left: 20px;
  top: 20px;
}

.posts_list_item_date_day, .posts_list_item_date_month {
  display: inline-block;
  width: 100%;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
}

.posts_list_item_date_day {
  height: 35px;
  background-color: #363636;
  border-radius: 3px 3px 0px 0px;
  font-family: 'Montserrat',sans-serif;
  font-size: 24px;
  line-height: 20px;
  font-weight: 300;
  padding: 10px;
}

.posts_list_item_date_month {
  height: 25px;
  background-color: #252525;
  border-radius: 0px 0px 3px 3px;
  font-family: 'Roboto',sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.posts_list_item:hover {
  background-color: #362f2d;
}

.posts_list_item:hover .posts_list_item_img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.posts_list_item:hover .posts_list_item_title {
  color: #c7b299;
}

.posts_list_item:hover .posts_list_item_text {
  color: #fff;
}

.posts_list_item:hover .posts_list_item_date_day {
  background-color: #c7b299;
}

.posts_list_item:hover .posts_list_item_date_month {
  background-color: #a48d72;
}

.posts_slider {
  text-align: center;
}

.posts_slider_btn {
  width: 22px;
  height: 22px;
  color: #d1d1d1;
  background-color: transparent;
  border: 1px solid;
  border-radius: 50%;
}

.posts_slider_btn:first-child {
  margin-right: 10px;
}

.posts_slider_btn:hover, .posts_slider_btn:focus {
  color: #c7b299;
}

.posts_slider_btn:active {
  border: solid #c7b299;
}

/********************************************************************/
.partners {
  background-image: url(../img/bg_partners.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 140px 0;
}

.partners_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners_list_item_link:hover .partners_list_item_link_img {
  border: solid #c7b299;
}

.partners_list_item_link:focus .partners_list_item_link_img {
  border: solid #c7b299;
}

.partners_list_item_link:active .partners_list_item_link_img {
  border: solid #fff;
}

/********************************************************************/
.footer {
  background-color: #191919;
}

.footer_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 0;
}

.footer_about {
  -ms-flex-preferred-size: 22%;
      flex-basis: 22%;
}

.footer_about_img {
  margin-bottom: 30px;
}

.footer_about_title {
  font-family: 'Raleway',sans-serif;
  font-size: 34px;
  line-height: 1.8;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #ffffff;
  vertical-align: top;
}

.footer_about_text {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #555555;
  margin-bottom: 30px;
}

.footer_about_link {
  font-family: 'Montserrat',sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #d1d1d1;
  text-decoration: none;
}

.footer_about_link::after {
  content: '';
  display: inline-block;
  margin-left: 10px;
  width: 5px;
  height: 10px;
  background-image: url("../img/icons/posts_arrow.svg");
}

.footer_about_link:hover, .footer_about_link:focus {
  color: #c7b299;
}

.footer_about_link:active {
  opacity: .7;
}

.footer_posts {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding-top: 20px;
}

.footer_posts_title {
  font-family: 'Raleway',sans-serif;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 30px;
}

.footer_posts_list_item_date {
  font-family: 'Montserrat',sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: #363636;
  margin-bottom: 10px;
}

.footer_posts_list_item_text {
  font-family: 'Montserrat',sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
  margin-bottom: 20px;
}

.footer_posts_list_item:hover .footer_posts_list_item_date,
.footer_posts_list_item:focus .footer_posts_list_item_date {
  font-family: 'Montserrat',sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: #ffffff;
  cursor: pointer;
}

.footer_posts_list_item:hover .footer_posts_list_item_text,
.footer_posts_list_item:focus .footer_posts_list_item_text {
  font-family: 'Montserrat',sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #c7b299;
}

.footer_posts_list_item:not(:last-child)::after {
  content: '';
  width: 270px;
  display: inline-block;
  border-bottom: 2px solid #252525;
  margin-bottom: 20px;
}

.footer_twitter {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding-top: 20px;
}

.footer_twitter_title {
  font-family: 'Raleway',sans-serif;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 30px;
}

.footer_twitter_list_item_text {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
}

.footer_twitter_list_item_text_hash {
  color: #00bff3;
}

.footer_twitter_list_item_text_link {
  color: #959595;
}

.footer_twitter_list_item_time {
  font-family: 'Montserrat',sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: #363636;
  margin-bottom: 20px;
}

.footer_twitter_list_item:not(:last-child)::after {
  content: '';
  width: 270px;
  display: inline-block;
  border-bottom: 2px solid #252525;
  margin-bottom: 20px;
}

.footer_widgets {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding-top: 20px;
}

.footer_widgets_title {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 25px;
}

.footer_widgets_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer_widgets_list_item {
  margin: 0 10px 10px 0;
}

.footer_widgets_list_item_link:hover .footer_widgets_list_item_link_img {
  border: 1px solid #c7b299;
}

.footer_widgets_list_item_link:focus .footer_widgets_list_item_link_img {
  border: 1px solid #c7b299;
}

.footer_widgets_list_item_link:active .footer_widgets_list_item_link_img {
  opacity: .6;
}

.footer_copyright {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: #111111;
  padding: 55px 0;
}

.footer_copyright_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_copyright_list, .footer_copyright_by_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
}

.footer_copyright_list_item, .footer_copyright_by_list_item {
  padding-right: 10px;
}

.footer_copyright_list_item_link, .footer_copyright_by_list_item_link {
  color: #555555;
}

.footer_copyright_list_item_link:hover, .footer_copyright_list_item_link:focus, .footer_copyright_by_list_item_link:hover, .footer_copyright_by_list_item_link:focus {
  color: #c7b299;
}

.footer_copyright_list_item_link:active, .footer_copyright_by_list_item_link:active {
  color: #fff;
}

.footer_copyright_list_item-name, .footer_copyright_by_list_item-name {
  color: #959595;
}

.footer_copyright_list_item:not(:last-child)::after, .footer_copyright_by_list_item:not(:last-child)::after {
  content: '';
  padding-left: 10px;
  border-right: 1px solid  #252525;
}
/*# sourceMappingURL=style.css.map */