@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a {
  color: #fff;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/********************************************************************/
body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.content_container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}

/********************************************************************/
.header {
  min-height: 100vh;
  padding: 40px 30px 40px;
  background-image: url(../img/bg_photo.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_top_title {
  font-family: 'Raleway', sans-serif;
  margin-left: 2px;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #ffffff;
}

.header_top_nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_top_nav_list_item {
  margin-right: 30px;
}

.header_top_nav_list_item_link {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
}

.header_top_nav_list_item_link:hover, .header_top_nav_list_item_link:focus {
  color: #c7b299;
}

.header_top_nav_list_item_link:active {
  opacity: 0.7;
}

.header_top_nav_list_item:last-child {
  margin-right: 0;
}

.header_top_cs_searche {
  width: 25px;
  height: 25px;
  background-image: url("../img/icons/search.svg");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  background-color: transparent;
  color: white;
}

.header_top_cs_searche:focus {
  width: 200px;
  -webkit-transition: width 1s ease-out;
  transition: width 1s ease-out;
  background-position: right;
}

.header_top_cs_cart {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  background-image: url("../img/icons/cart.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 30px;
}

.header_slider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_slider_arrow {
  width: 40px;
  height: 75px;
  background-color: transparent;
  background-image: url(../img/icons/arrow.svg);
  opacity: .5;
}

.header_slider_arrow:hover {
  -webkit-transition: .8s;
  transition: .8s;
  opacity: 1;
}

.header_slider_slogan {
  max-width: 600px;
  font-family: Raleway;
  line-height: 1.2;
  color: #ffffff;
  text-align: center;
}

.header_slider_slogan_title {
  font-family: Raleway;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 15px;
}

.header_slider_slogan_header {
  font-size: 52px;
  font-weight: 800;
  margin-bottom: 20px;
}

.header_slider_slogan_text {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 50px;
}

.header_slider_slogan_button {
  width: 170px;
  height: 53px;
  background-color: #998675;
  border-radius: 3px;
  font-family: Raleway;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
}

.header_slider_slogan_button:hover {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  border: 1px solid #fff;
}

.header_slider_slogan_button:active {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background-color: #fff;
}

.header_slides_slide {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  opacity: .5;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
}

.header_slides_slide:last-child {
  margin-right: 0;
}

.header_slides_slide:hover {
  -webkit-transition: .7s;
  transition: .7s;
  opacity: 1;
}

.arrow-right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.link_active {
  color: #c7b299;
}

.slide_active {
  background-color: transparent;
}

/********************************************************************/
.services {
  padding: 80px 30px;
}

.services_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}

.services_list_item {
  max-width: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #555555;
}

.services_list_item_ico {
  color: inherit;
  margin-bottom: 30px;
  fill: inherit;
}

.services_list_item_title {
  font-family: Raleway;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  color: inherit;
  margin-bottom: 20px;
}

.services_list_item_text {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #8c8c8c;
  margin-bottom: 30px;
}

.services_list_item::after {
  content: "";
  width: 70px;
  border: 3px solid;
  border-color: inherit;
}

.services_list_item:hover {
  color: #c7b299;
  fill: #c7b299;
}

.services_content {
  padding-top: 80px;
  background-color: #fbfaf8;
  text-align: center;
}

.services_content_title {
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  margin-bottom: 25px;
}

.services_content_text {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  max-width: 760px;
  margin: 0 auto 40px;
}

.services_content_screenlist {
  min-height: 480px;
  max-width: 1230px;
  margin: 0 auto;
  position: relative;
}

.services_content_screenlist_item {
  position: absolute;
  z-index: 1;
}

.services_content_screenlist_item:first-child, .services_content_screenlist_item:last-child {
  z-index: 0;
  top: 80px;
}

.services_content_screenlist_item:first-child {
  left: 0;
}

.services_content_screenlist_item:last-child {
  right: 0;
}

.services_content_screenlist_item:nth-child(2) {
  left: 20%;
}

.services_bottom {
  min-height: 150px;
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  padding-top: 50px;
}

.services_bottom_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services_bottom_title {
  font-family: Raleway;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 8px;
}

.services_bottom_title_waxom {
  color: #c7b299;
}

.services_bottom_text {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #615855;
}

.services_bottom_btn {
  width: 170px;
  height: 50px;
  background-color: #998675;
  border-radius: 3px;
  font-family: Raleway;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.services_bottom_btn:hover {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  border: 1px solid #fff;
}

.services_bottom_btn:active {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background-color: #fff;
}

/********************************************************************/
.projects {
  text-align: center;
}

.projects_title {
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  margin-bottom: 25px;
}

.projects_text {
  max-width: 760px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  margin: 0 auto 40px;
}

.projects_btn_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #8c8c8c;
  margin: 0 auto 50px;
}

.projects_btn_list_item {
  margin-right: 10px;
}

.projects_btn_list_item_button {
  width: 120px;
  height: 32px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}

.projects_btn_list_item_button:focus, .projects_btn_list_item_button:hover {
  background-color: #998675;
  color: #ffffff;
}

.projects_btn_list_item_button:active {
  border-color: red;
}

.projects_btn_list_item:last-child {
  margin-right: 0;
}

.projects_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.projects_list_item {
  max-width: 370px;
  position: relative;
  background-color: #fbfaf8;
  margin-bottom: 30px;
}

.projects_list_item_wrapper {
  position: relative;
  background-color: inherit;
  padding: 30px;
}

.projects_list_item_wrapper::before {
  content: "";
  border: 15px solid transparent;
  border-bottom: 15px solid #fbfaf8;
  position: absolute;
  top: -30px;
  left: 10px;
}

.projects_list_item_img {
  width: 100%;
  background-color: #8c8c8c;
}

.projects_list_item_title {
  font-family: Raleway;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #c7b299;
  margin-bottom: 15px;
}

.projects_list_item_text {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #d1d1d1;
}

.projects_list_item_button-link, .projects_list_item_button-view {
  width: 25px;
  height: 25px;
  display: none;
  background-color: transparent;
  position: absolute;
  top: 110px;
  color: white;
}

.projects_list_item_button-link_ico, .projects_list_item_button-view_ico {
  fill: #fff;
}

.projects_list_item_button-link {
  left: 150px;
}

.projects_list_item_button-view {
  right: 150px;
}

.projects_list_item:hover {
  background-color: #362f2d;
}

.projects_list_item:hover .projects_list_item_wrapper:before {
  border-bottom: 15px solid #362f2d;
}

.projects_list_item:hover .projects_list_item_img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.projects_list_item:hover .projects_list_item_button-link,
.projects_list_item:hover .projects_list_item_button-view {
  display: block;
}

.projects_list_item:hover .projects_list_item_button-link:hover > svg,
.projects_list_item:hover .projects_list_item_button-view:hover > svg {
  fill: #362f2d;
}

.projects_bottom_button {
  width: 170px;
  height: 50px;
  background-color: #998675;
  border-radius: 3px;
  font-family: Raleway;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 80px;
}

.projects_bottom_button:hover, .projects_bottom_button:focus {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #fff;
}

.projects_bottom_button:active {
  border: solid red;
}

/********************************************************************/
.presentation {
  position: relative;
}

.presentation_wrapper {
  padding: 210px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(17, 17, 17, 0.5);
  text-align: center;
  color: #ffffff;
}

.presentation_wrapper_button {
  z-index: 1;
  width: 100px;
  height: 100px;
  background-color: transparent;
  margin-bottom: 45px;
  border-radius: 50%;
  opacity: 0.8;
}

.presentation_wrapper_button_icon {
  fill: #fff;
}

.presentation_wrapper_button:hover, .presentation_wrapper_button:focus {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

.presentation_wrapper_button:active {
  opacity: 1;
  border: solid white;
}

.presentation_wrapper_title {
  z-index: 1;
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 30px;
}

.presentation_wrapper_text {
  z-index: 1;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  margin-bottom: 40px;
  max-width: 555px;
}

.presentation_wrapper_time {
  z-index: 1;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #c7b299;
}

.presentation_video {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/********************************************************************/
.mobile_devices {
  padding: 180px;
  background-color: #fbfaf8;
}

.mobile_devices_container {
  background-image: url("../img/bg_mobile.png");
  background-repeat: no-repeat;
  background-size: 425px auto;
  background-position: left top;
}
/*# sourceMappingURL=style.css.map */