/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a{color: #fff;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/********************************************************************/
input[type=radio] {
	display: none;
}
label {
	display: inline-block;
	cursor: pointer;
	position: relative;
}
/********************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 1920px;
    margin: 0 auto;
}
.content_container {
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}
/********************************************************************/
.header {
    min-height: 100vh; 
    padding: 40px 30px 40px;
    background-image: url(../img/bg_photo.jpg);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &_wrap {
        display: flex;
        align-items: center;
    }
    &_top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_title {
            font-family: 'Raleway', sans-serif;
            margin-left: 2px;
            font-size: 34px;
            line-height: 1.2;
            font-weight: 400;
            letter-spacing: -0.04em;
            color: #ffffff;
        }
        &_nav{
            &_list {
                display: flex;
                &_item {
                    margin-right: 30px;
                    &_link {
                        font-family: 'Montserrat';
                        font-size: 14px;
                        line-height: 1.2;
                        font-weight: 300;
                        color: #ffffff;
                    }
                    &_link:hover, &_link:focus {
                        color: #c7b299;
                    }
                    &_link:active {
                        opacity: 0.7;
                    }
                }
                &_item:last-child {
                    margin-right: 0;
                }
            }
        }
        &_cs {
            display: flex;
            justify-items: center;
            &_searche,
             &_cart {
                width: 25px;
                height: 25px;
                background-color: transparent;
                color: #fff;
            }
            &_searche {
                background-image: url('../img/icons/search.svg');
                background-repeat: no-repeat;
                background-size: contain;
            }
            &_searche:hover,
             &_cart:hover {
                border: 1px solid #c7b299;
            }
            &_searche:focus {
                width: 200px;
                transition: width 0.8s ease-out;
                background-position: right;
              }
            &_cart {
                margin-right: 30px;
                background-image: url('../img/icons/cart.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }
    }
    &_slider {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &_arrow {
            width: 40px;
            height: 75px;
            background-color: transparent;
            background-image: url(../img/icons/arrow.svg);
            opacity: .5;
        }
        &_arrow:hover {
            transition: .8s;
            opacity: 1;
        }
        &_slogan {
            max-width: 600px;
            font-family: Raleway;
            line-height: 1.2;
            color: #ffffff;
            text-align: center;
            &_title {
                font-family: Raleway;
                font-size: 36px;
                font-weight: 500;
                margin-bottom: 15px;
            }
            &_header {
                font-size: 52px;
                font-weight: 800;
                margin-bottom: 20px;
            }
            &_text {
                font-family: Montserrat;
                font-size: 16px;
                line-height: 24px;
                font-weight: 300;
                margin-bottom: 50px;
            }
            &_button {
                width: 170px;
                height: 53px;
                background-color: #998675;
                border-radius: 3px;
                font-family: Raleway;
                font-size: 14px;
                line-height: 23px;
                font-weight: 800;
                text-transform: uppercase;
                color: #fff;
                
            }
            &_button:hover {
                transition: 0.7s;
                border: 1px solid #fff;
            }
            &_button:active{
                transition: 0.7s;
                background-color: #fff;
            }
        }
    }
    &_slides {
        &_slide_label::before {
            content: '';
            display: inline-block;
            width: 15px;
            height: 15px;
            margin-right: 10px;
            opacity: .5;
            background-color: transparent;
            border:  2px solid #fff;
            border-radius: 100%;
        }
        &_slide_label:last-child::before {
            margin-right: 0;
        }
        &_slide_label:hover::before {
            transition: .7s;
            opacity: 1;
        }
        &_slide:checked + &_slide_label::before {
            background-color: #fff;
        }
    }
}
.arrow-right {
    transform: rotate(180deg);
}
.link_active {
    color: #c7b299;
}
.slide_active {
    background-color: transparent;
}
/********************************************************************/
.services {
    padding: 80px 30px;
    &_list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
        &_item {
            max-width: 23%;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #555555;
            &_ico {
                color: inherit;
                margin-bottom: 30px;
                fill: inherit;
            }
            &_title {
                font-family: Raleway;
                font-size: 22px;
                line-height: 1.2;
                font-weight: 600;
                color: inherit;
                margin-bottom: 20px;
            }
            &_text {
                font-family: Montserrat;
                font-size: 14px;
                line-height: 24px;
                font-weight: 300;
                color: #8c8c8c;
                margin-bottom: 30px;
            }
        }
        &_item::after {
            content:"";
            width: 70px;
            border: 3px solid;
            border-color: inherit;
        }
        &_item:hover {
            color: #c7b299;
            fill: #c7b299;
        }
    }
    &_content {
        padding-top: 80px;
        background-color: #fbfaf8;
        text-align: center;
        &_title {
            font-family: Raleway;
            font-size: 30px;
            line-height: 1.2;
            font-weight: 600;
            color: #555555;
            margin-bottom: 25px;
        }
        &_text {
            font-family: Montserrat;
            font-size: 16px;
            line-height: 28px;
            font-weight: 300;
            color: #8c8c8c;
            max-width: 760px;
            margin: 0 auto 40px;
        }
        &_screenlist {
            min-height: 480px;
            max-width: 1230px;
            margin: 0 auto;
            position: relative;
            &_item {
                position: absolute;
                z-index: 1;
            }
            &_item:first-child, &_item:last-child {
                z-index: 0;
                top: 80px;
            }
            &_item:first-child {
                left: 0;
            }
            &_item:last-child {
                right: 0;
            }
            &_item:nth-child(2) {
                left: 20%;
            }
        }
    }
    &_bottom {
        min-height: 150px;
        background-color: #f4f5f8;
        background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
        padding-top: 50px;
        &_container {
            display: flex;
            justify-content: space-between;
        }    
        &_title {
            font-family: Raleway;
            font-size: 28px;
            line-height: 1.2;
            font-weight: 400;
            color: #ffffff;
            &_waxom {
                color: #c7b299;
            }
            margin-bottom: 8px;
        }
        &_text {
            font-family: Montserrat;
            font-size: 18px;
            line-height: 1.2;
            font-weight: 300;
            color: #615855;
        }
        &_btn {
            width: 170px;
            height: 50px;
            background-color: #998675;
            border-radius: 3px;
            font-family: Raleway;
            font-size: 14px;
            line-height: 23px;
            font-weight: 800;
            text-transform: uppercase;
            color: #ffffff;
            align-self: center;
        }
        &_btn:hover {
            transition: 0.7s;
            border: 1px solid #fff;
        }
        &_btn:active{
            transition: 0.7s;
            background-color: #fff;
        }
    }
}
/********************************************************************/
.projects {
    text-align: center;
    &_title {
        font-family: Raleway;
        font-size: 30px;
        line-height: 1.2;
        font-weight: 600;
        color: #555555;
        margin-bottom: 25px;
    }
    &_text {
        max-width: 760px;
        font-family: Montserrat;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #8c8c8c;
        margin: 0 auto 40px;
    }
    &_btn_list {
        display: flex;
        justify-content: center;
        font-family: Montserrat;
        font-size: 14px;
        line-height: 21px;
        font-weight: 300;
        color: #8c8c8c;    
        &_item {
            margin-right: 10px;
            &_button {
                width: 120px;
                height: 32px;
                border: 1px solid #ebebeb;
                border-radius: 3px;
            }
            &_button:focus, &_button:hover {
                background-color: #998675;
                color: #ffffff;
            }
            &_button:active {
                border-color: red;
            }
        }
        &_item:last-child {
            margin-right: 0;
        }
        margin: 0 auto 50px;
    }
    &_list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        &_item {
            max-width: 370px;
            position: relative;
            background-color: #fbfaf8;
            &_wrapper {
                position: relative;
                background-color: inherit;
                padding: 30px;
            }
            &_wrapper::before {
                content: "";
                border: 15px solid transparent;	
                border-bottom: 15px solid #fbfaf8;
                position: absolute;
                top: -30px;
                left: 10px;
            }
            &_img {
                width: 100%;
                background-color: #8c8c8c;
            }
            &_title {
                font-family: Raleway;
                font-size: 20px;
                line-height: 1.2;
                font-weight: 500;
                color: #c7b299;
                margin-bottom: 15px;
            }
            &_text {
                font-family: Montserrat;
                font-size: 14px;
                line-height: 20px;
                font-weight: 300;
                color: #d1d1d1;
            }
            margin-bottom: 30px;
            &_button-link, &_button-view {
                width: 25px;
                height: 25px;
                display: none;
                background-color: transparent;
                position: absolute;
                top: 110px;
                color: white;
                &_ico {
                    fill: #fff;
                }
            }
            &_button-link {
                left: 150px;
            }
            &_button-view {
                right: 150px;
            }
        }
        &_item:hover{
            background-color: #362f2d;
        }
        &_item:hover &_item_wrapper:before {
            border-bottom: 15px solid #362f2d;
        }  
        &_item:hover &_item_img {
            filter: brightness(30%);
        }
        &_item:hover &_item_button-link, 
            &_item:hover &_item_button-view {
            display: block;
        }
        &_item:hover &_item_button-link:hover>svg,
         &_item:hover &_item_button-view:hover>svg {
            fill: #362f2d;
        }
    }
    &_bottom_button {
        width: 170px;
        height: 50px;
        background-color: #998675;
        border-radius: 3px;
        font-family: Raleway;
        font-size: 14px;
        line-height: 23px;
        font-weight: 800;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 80px;
    }
    &_bottom_button:hover, &_bottom_button:focus {
        transition: 0.5s;
        border: 1px solid #fff;
    }
    &_bottom_button:active {
        border: solid red;
    }
}
/********************************************************************/
.presentation {
    position: relative;
    &_wrapper {
        padding: 210px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(17,17,17,0.5);
        text-align: center;
        color: #ffffff;
        &_button {
            z-index: 1;
            width: 100px;
            height: 100px;
            background-color: transparent;
            margin-bottom: 45px;
            border-radius: 50%;
            opacity: 0.8;
            &_icon {
                fill: #fff;
            }
        }
        &_button:hover, &_button:focus {
            opacity: 1;
            background-color: rgba(0,0,0,0.2);
        }
        &_button:active {
            opacity: 1;
            border: solid white;
        }
        &_title {
            z-index: 1;
            font-family: Raleway;
            font-size: 30px;
            line-height: 1.2;
            font-weight: 500;
            margin-bottom: 30px;
        }
        &_text {
            z-index: 1;
            font-family: Montserrat;
            font-size: 16px;
            line-height: 28px;
            font-weight: 300;
            margin-bottom: 40px;
            max-width: 555px;
        }
        &_time {
            z-index: 1;
            font-family: Montserrat;
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
            color: #c7b299;
        }
    }
    &_video {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
/********************************************************************/
.mobile_devices {
    padding: 80px 80px 0 80px;
    background-color: #fbfaf8;
    &_container {
        min-height: 695px;
        background-image: url('../img/bg_mobile.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left top;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 115px;
    }
    &_title {
        font-family: Raleway;
        font-size: 30px;
        line-height: 1.2;
        font-weight: 600;
        color: #555555;
        margin-bottom: 40px;
    }
    &_text {
        font-family: Montserrat;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #8c8c8c;
        margin-bottom: 45px;
        max-width: 660px;
    }
    &_list {
        font-family: Montserrat;
        font-size: 16px;
        line-height: 32px;
        font-weight: 300;
        color: #8c8c8c;
        &_item::before {
            content: '>';
            display: inline-block;
            width: 20px;
            height: 20px;
            font-size: 20px;
            line-height: 20px;
            font-weight: 500;
            color: #fff;
            background-color: #c7b299;
            margin-right: 30px;
            vertical-align: middle;
            text-align: center;
            border-radius: 50%;
        }
    }
}
/********************************************************************/
.counters {
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    padding: 70px 0 60px;
    &_list {
        display: flex;
        justify-content: space-around;
        &_item {
            display: flex;
            flex-direction: column;
            align-items: center;
            &_img {
                margin-bottom: 30px;
            }
            &_title {
                font-family: Montserrat;
                font-size: 48px;
                line-height: 36px;
                font-weight: 200;
                color: #ffffff;
                margin-bottom: 20px;
            }
            &_text {
                font-family: Montserrat;
                font-size: 14px;
                line-height: 20px;
                font-weight: 300;
                text-transform: uppercase;
                color: #c7b299;
                margin-bottom: 30px;
            }
        }
        &_item::after {
            content: '';
            width: 30px;
            display: inline-block;
            border-bottom: 2px solid #fff;
        }
    }
}
/********************************************************************/
.posts {
    background-color: #fff;
    padding: 80px 0;
    &_title {
        font-family: Raleway;
        font-size: 30px;
        line-height: 1.2;
        font-weight: 600;
        color: #555555;
        text-align: center;
        margin-bottom: 30px;
    }
    &_text {
        font-family: Montserrat;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #8c8c8c;
        width: 760px;
        margin: 0 auto 40px;
    }
    &_list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &_item {
            position: relative;
            width: 370px;
            border: 1px solid #f8f8f8;
            &_img {
                margin-bottom: 30px;
            }
            &_title {
                font-family: Raleway;
                font-size: 20px;
                line-height: 1.2;
                font-weight: 500;
                color: #555555;
                margin: 0 30px 20px;
            }
            &_text {
                font-family: Montserrat;
                font-size: 14px;
                line-height: 22px;
                font-weight: 300;
                color: #8c8c8c;
                width: 300px;
                margin: 0 30px 30px;
            }
            &_button {
                font-family: Montserrat;
                font-size: 14px;
                line-height: 20px;
                font-weight: 300;
                color: #c7b299;
                margin: 0 0 35px 30px;
                background-color: transparent;
            }
            &_button:hover {
                opacity: .8;
            }
            &_button::after {
                content: '';
                display: inline-block;
                margin-left: 10px;
                width: 5px;
                height: 10px;
                background-image: url('../img/icons/posts_arrow.svg');
            }
            &_date {
                width: 50px;
                position: absolute;
                left: 20px;
                top: 20px;
                &_day,
                 &_month {
                     display: inline-block;
                    width: 100%;
                    color: #ffffff;
                    text-align: center;
                    vertical-align: middle;
                    line-height: 20px;
                }
                &_day {
                    height: 35px;
                    background-color: #363636;
                    border-radius: 3px 3px 0px 0px;
                    font-family: Montserrat;
                    font-size: 24px;
                    line-height: 20px;
                    font-weight: 300;
                    padding: 10px;
                }
                &_month {
                    height: 25px;
                    background-color: #252525;
                    border-radius: 0px 0px 3px 3px;
                    font-family: Roboto;
                    font-size: 12px;
                    font-weight: 400;
                }
            }
            margin-bottom: 40px;
        }
        &_item:hover {
            background-color: #362f2d;
        }
        &_item:hover &_item_img {
            filter: brightness(30%);
        }
        &_item:hover &_item_title {
            color: #c7b299;
        }
        &_item:hover &_item_text {
            color: #fff;
        }
        &_item:hover &_item_date_day {
            background-color: #c7b299;
        }
        &_item:hover &_item_date_month {
            background-color: #a48d72;
        }
    }
    &_slider {
        text-align: center;
        &_btn {
            width: 22px;
            height: 22px;
            color: #d1d1d1;
            background-color: transparent;
            border: 1px solid;
            border-radius: 50%;
        }
        &_btn:first-child {
            margin-right: 10px;
        }
        &_btn:hover {
            color: #c7b299;
        }
    }
}
/********************************************************************/
.partners {
    background-image: url(../img/bg_partners.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 140px 0;
    &_list {
        display: flex;
        justify-content: space-around;
    }
}
/********************************************************************/
.footer {
    background-color: #191919;
    &_top {
        padding: 80px 0;
        display: flex;
        justify-content: space-between;
        &_about {
            display: flex;
            margin-bottom: 30px;
        }
    }
    &_copyright {
        background-color: #111111;
        padding: 55px 0;
        &_wrapper {
            display: flex;
            justify-content: space-between;
        }
        &_list,
         &_by_list {
            display: flex;
            font-family: Montserrat;
            font-size: 13px;
            line-height: 20px;
            font-weight: 300;
            color: #555555;
            &_item {
                padding-right: 10px;
                &_link {
                    color: #555555;
                }
                &_link:hover {
                    color: #c7b299;
                }
            }
            &_item-name {
                color: #959595;
            }
            &_item:not(:last-child)::after {
                content: '';
                padding-left: 10px;
                border-right: 1px solid  #252525;
            }
        }
    }
}