/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a{color: #fff;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/********************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    max-width: 1920px;
    margin: 0 auto;
}
.content_container{
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}
/********************************************************************/
.header{
    min-height: 100vh; 
    //1024px
    padding: 40px 30px 40px;
    background-image: url(../img/bg_photo.jpg);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &_wrap{
        display: flex;
        align-items: center;
    }
    &_top{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_title{
            font-family: 'Raleway', sans-serif;
            margin-left: 2px;
            font-size: 34px;
            line-height: 1.2;
            font-weight: 400;
            letter-spacing: -0.04em;
            color: #ffffff;
        }
        &_nav{
            &_link{
                font-family: 'Montserrat';
                font-size: 14px;
                line-height: 1.2;
                font-weight: 300;
                color: #ffffff;
                margin-right: 30px;
            }
            &_link:last-child{
                margin-right: 0;
            }
            &_link:hover{
                text-decoration: underline;
            }
        }
        &_cs_cart{
            margin-right: 30px;
        }
    }
    &_slider{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &_arrow{
            width: 40px;
            height: 75px;
            background-color: transparent;
            background-image: url(../img/icons/arrow.svg);
            opacity: .5;
        }
        &_arrow:hover{
            transition: .8s;
            opacity: 1;
        }
        &_slogan{
            max-width: 600px;
            font-family: Raleway;
            line-height: 1.2;
            color: #ffffff;
            text-align: center;
            &_title{
                font-family: Raleway;
                font-size: 36px;
                font-weight: 500;
                margin-bottom: 15px;
            }
            &_header{
                font-size: 52px;
                font-weight: 800;
                margin-bottom: 20px;
            }
            &_text{
                font-family: Montserrat;
                font-size: 16px;
                line-height: 24px;
                font-weight: 300;
                margin-bottom: 50px;
            }
            &_button{
                width: 170px;
                height: 53px;
                background-color: #998675;
                border-radius: 3px;
                font-family: Raleway;
                font-size: 14px;
                line-height: 23px;
                font-weight: 800;
                text-transform: uppercase;
                color: #fff;
                
            }
            &_button:hover{
                transition: 0.7s;
                border: 1px solid #fff;
            }
            &_button:active{
                transition: 0.7s;
                background-color: #fff;
            }
        }
    }
    &_slides{
        &_slide{
            width: 15px;
            height: 15px;
            margin-right: 10px;
            opacity: .5;
            background-color: #fff;
            border:  2px solid #fff;
            border-radius: 50%;
        }
        &_slide:last-child{
            margin-right: 0;
        }
        &_slide:hover{
            transition: .7s;
            opacity: 1;
        }
    }
}
.arrow-right{
    transform: rotate(180deg);
}
.link_active{
    color: #c7b299;
}
.slide_active{
    background-color: transparent;
}
/********************************************************************/
.services{
    padding: 80px 30px;
    &_list{
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
        &_item{
            max-width: 23%;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #555555;
            &_ico{
                color: inherit;
                margin-bottom: 30px;
                fill: inherit;
            }
            &_title{
                font-family: Raleway;
                font-size: 22px;
                line-height: 1.2;
                font-weight: 600;
                color: inherit;
                margin-bottom: 20px;
            }
            &_text{
                font-family: Montserrat;
                font-size: 14px;
                line-height: 24px;
                font-weight: 300;
                color: #8c8c8c;
                margin-bottom: 30px;
            }
            &_line{
                width: 70px;
                border: 3px solid;
                border-color: inherit;
            }
        }
    }
    &_content{
        background-color: #fbfaf8;
        min-height: 700px;
    }
    &_bottom{
        min-height: 150px;
        background-color: #f4f5f8;
        background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    }
}
.services_active{
    color: #c7b299;
    fill: #c7b299;
}